/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
SELECT TOP 1000 [SERVICE_ITEM_ID]
      ,[GANTRY_ID]
      ,[GANTRY_NAME]
      ,[HIGHWAY_ID]
      ,[HIGHWAY_TYPE]
      ,[CITY_ID]
      ,[CITY_TYPE]
      ,[TOWN_ID]
      ,[TOWN_TYPE]
      ,[DIRECTION_ID]
      ,[DIRECTION_TYPE]
      ,[POLICE_ID]
      ,[POLICE_TYPE]
      ,[APPEAL_OFFICE_ID]
      ,[APPEAL_OFFICE_TYPE]
      ,[GANTRY_MILEAGE]
      ,[LOCATION]
      ,[RAMP_LOC]
      ,[STATUS]
      ,[TOLL_FREE_SETUP]
      ,[TOLL_FREE_LINK_ID]
      ,[BEGIN_RAMP_ID]
      ,[END_RAMP_ID]
      ,[EFFECTIVE_TIME]
      ,[DEAD_TIME]
  FROM [MDPOC].[dbo].[BMS_PRO_GANTRY]

  select HIGHWAY_ID, count(HIGHWAY_ID)
  from [MDPOC].[dbo].[BMS_PRO_GANTRY]
  group by HIGHWAY_ID