/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
SELECT TOP 1000 [MDSequenceNum]
      ,[LPRNumber1]
      ,[LPRNumber2]
      ,[AVEID]
      ,[DetectionTime]
      ,[LaneSystemID]
      ,[LaneNr]
      ,[Violation]
      ,[Category]
      ,[SpeedIndication]
      ,[TransactionTime]
      ,[TagArriveTime]
      ,[TagDepartTime]
      ,[TransactionResult]
      ,[ReaderSN]
      ,[AuditRecord]
      ,[EPCID]
      ,[VehicleDeviceCategory]
      ,[ETagRSSIValue]
      ,[RFKeysetVersion]
      ,[Repeat]
      ,[TID]
      ,[UserData2]
      ,[UserData3]
      ,[PictureTime]
      ,[KeepImageList]
      ,[MAC]
      ,[eTagLPRNumber]
      ,[StChargeFlag]
      ,[DecompositionFlag]
      ,[DeviceCategory]
      ,[DeviceStatus]
      ,[DeviceStatusCode]
      ,[Sender]
      ,[CheckCode]
      ,[DeviceServiceStatus]
      ,[DeviceVCID]
      ,[DeviceIdentity]
      ,[FreewayNo]
      ,[FreewayType]
      ,[FreewayKM]
      ,[FreewayDirection]
      ,[ImageRegetReturned]
      ,[OfflineTrans]
      ,[OcrSendFlag]
      ,[ViolationOrgn]
      ,[TransactionTimeOrgn]
      ,[ProcessedTime]
      ,[CreateId]
      ,[CreateDttm]
      ,[ModifyId]
      ,[ModifyDttm]
  FROM [MDPOC].[dbo].[GANTRY_DATA]

 