/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
SELECT [CODE_ID]
      ,[CODE_TYPE]
      ,[PARENT_ID]
      ,[PARENT_TYPE]
      ,[UPDATER_ID]
      ,[CODE_NAME]
      ,[CODE_DESC]
      ,[STATUS]
      ,[NUMBER]
      ,[SETUP_TIME]
      ,[ON_TIME]
      ,[OFF_TIME]
      ,[UKEY]
  FROM [MDPOC].[dbo].[BMS_PRO_CODES]